:root {
    --bwu_background: #30305a;
    --bwu_header: #16163f;
    --bwu_nav-border: #2a2a4b;
    --bwu_text: #a3a3a3;
    --bwu_search: #242424;
    --bwu_search-border: #343434;
    --bwu_search-text: #bcbcbc;
}

body {
    background-color: var(--background);
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clearfix:after,
.clearfix::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

