:root {
    /* Base theme */
    --bwu-theme_background: #30305a;
    --bwu-theme_header: #926622;
    --bwu-theme_nav-border: #543400;
    --bwu-theme_nav-text: #1a1f40;
    --bwu-theme_text: #a3a3a3;
    --bwu-theme_search: #111A2B;
    --bwu-theme_search-border: #343434;
    --bwu-theme_search-text: #bcbcbc;
    --bwu-theme_section: #b87923;
    --bwu-theme_link: #567aff;
    /* Katsuragi */
    --katsuragi-theme_background: #343667;
    --katsuragi-theme_header: #1a1b33;
    --katsuragi-theme_nav-border:  #212241;
    --katsuragi-theme_nav-text: #ae9ebe;
    --katsuragi-theme_text: #e0e0e0;
    --katsuragi-theme_search: #cccccc;
    --katsuragi-theme_search-border: transparent;
    --katsuragi-theme_search-text: #444444;
    --katsuragi-theme_section: #4c4e7e;
    --katsuragi-theme_link: #cccccc;
}

body {
    background-color: var(--bwu-theme_background);
    font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body.katsuragi {
    background-color: var(--katsuragi-theme_background);
}

.clearfix:after,
.clearfix::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#bwu-header {
    position: relative;
    height: 80px;
    left: 0;
    top: 0;
}

#bwu-header__container {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bwu-theme_header);
    border-bottom: 2px solid var(--bwu-theme_nav-border);
    height: inherit;
    width: 100%;
}

.katsuragi #bwu-header__container {
    background-color: var(--katsuragi-theme_header);
    border-bottom-color: var(--katsuragi-theme_nav-border);
}

#bwu-heading {
    display: inline-block;
    height: inherit;
    overflow: hidden;
    vertical-align: middle;
    max-height: 80px;
    max-width: 80px;
    padding: 0;
    margin: 0;
}

#bwu-heading #bwu-logo__link {
    display: inline-block;
    margin: 0;
    max-height: 80px;
    padding: 0;
    height: 100%;
}

#bwu-heading #bwu-logo__link > #bwu-logo {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
}

#bwu-navigation {
    display: inline-block;
    height: inherit;
    max-height: 80px;
    position: relative;
}

#bwu-navigation > #bwu-nav {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#bwu-nav > .bwu-nav__item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#bwu-nav > .bwu-nav__item > .bwu-nav__link {
    display: inline-block;
    padding: 25px 20px;
    font-weight: bold;
    color: var(--bwu-theme_nav-text);
    text-decoration: none;
    text-transform: uppercase;
}

.katsuragi #bwu-nav > .bwu-nav__item > .bwu-nav__link {
    color: var(--katsuragi-theme_nav-text);
}

#bwu-nav > .bwu-nav__item > .bwu-nav__subnav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: var(--bwu-theme_nav-border);
}

#bwu-nav > .bwu-nav__item > .bwu-nav__subnav > .bwu-subnav {
    list-style: none;
    display: inline-block;
    width: inherit;
    margin: 0;
    padding: 0;
}

#bwu-nav > .bwu-nav__item > .bwu-nav__subnav > .bwu-subnav > .bwu-subnav__item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#bwu-nav > .bwu-nav__item > .bwu-nav__subnav > .bwu-subnav > .bwu-subnav__item > .bwu-subnav__link {
    display: inline-block;
    padding: 12px 18px;
    font-weight: bold;
    color: var(--bwu-theme_background);
    text-decoration: none;
    text-transform: uppercase;
}

.katsuragi #bwu-nav > .bwu-nav__item > .bwu-nav__subnav > .bwu-subnav > .bwu-subnav__item > .bwu-subnav__link {
    color: var(--katsuragi-theme_background);
}